.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 94px;
  width: 100%;
  box-sizing: border-box;
  background-color: $cWhite;
  padding: 20px 4vw;
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.5);

  &-inner {
    @extend .content-width;
    display: flex;
    align-items: center;
  }
  &-logo {
    display: flex;
    align-items: center;
    margin-right: 75px;

    &__img {
      width: 45px;
      height: 45px;
      margin-right: 16px;
    }
    &__text {
      @extend .font-md;
    }
  }
  &-nav {
    display: none;

    @include mediaQuery("md") {
      display: block;
    }
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-right: 45px;
    }
  }
  &-btn {
    display: none;
    margin-left: auto;

    @include mediaQuery("md") {
      display: block;
    }
  }
  .hamburger-btn {
    position: relative;
    z-index: 90;
    margin-left: auto;

    @include mediaQuery("md") {
      display: none;
    }
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: $cWhite;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s;

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__item {
      font-size: 24px;
      margin-bottom: 30px;
      text-align: center;
      transform: translateX(-0.75em);
      transition: transform 0.3s;

      @include mediaQuery("sm") {
        font-size: 40px;
      }

      &:hover {
        transform: none;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        content: "#";
        display: inline-block;
        color: #888888;
        opacity: 0;
        transition: opacity 0.3s;
        margin-right: 10px;
      }
    }

    &.menu-open {
      transform: translateX(0);
    }
  }
}
